USE [NguyenThanhTung_2110900048_db]
GO
/****** Object:  Table [dbo].[NguyenThanhTung_2110900048_Book]    Script Date: 2/23/2024 4:47:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenThanhTung_2110900048_Book](
	[MaSach_2110900048] [varchar](255) NULL,
	[TenSach_2110900048] [varchar](255) NULL,
	[SoLuong_2110900048] [int] NULL,
	[DonGia_2110900048] [float] NULL,
	[Anh_2110900048] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
