<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>NguyenThanhTung_2110900048</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NguyenThanhTung_BookListServlet</display-name>
    <servlet-name>NguyenThanhTung_BookListServlet</servlet-name>
    <servlet-class>NguyenThanhTung.servlet.NguyenThanhTung_BookListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NguyenThanhTung_BookListServlet</servlet-name>
    <url-pattern>/NguyenThanhTung_BookListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NguyenThanhTung_BookCreateServlet</display-name>
    <servlet-name>NguyenThanhTung_BookCreateServlet</servlet-name>
    <servlet-class>NguyenThanhTung.servlet.NguyenThanhTung_BookCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NguyenThanhTung_BookCreateServlet</servlet-name>
    <url-pattern>/NguyenThanhTung_BookCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NguyenThanhTung_BookEditServlet</display-name>
    <servlet-name>NguyenThanhTung_BookEditServlet</servlet-name>
    <servlet-class>NguyenThanhTung.servlet.NguyenThanhTung_BookEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NguyenThanhTung_BookEditServlet</servlet-name>
    <url-pattern>/NguyenThanhTung_BookEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NguyenThanhTung_BookDeleteServlet</display-name>
    <servlet-name>NguyenThanhTung_BookDeleteServlet</servlet-name>
    <servlet-class>NguyenThanhTung.servlet.NguyenThanhTung_BookDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NguyenThanhTung_BookDeleteServlet</servlet-name>
    <url-pattern>/NguyenThanhTung_BookDeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>