<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>NguyenThanhTung_2110900048_K21CNT102</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NguyenThanhTung_KHACHHANGListServlet</display-name>
    <servlet-name>NguyenThanhTung_KHACHHANGListServlet</servlet-name>
    <servlet-class>ntt.servlet.NguyenThanhTung_KHACHHANGListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NguyenThanhTung_KHACHHANGListServlet</servlet-name>
    <url-pattern>/NguyenThanhTung_KHACHHANGListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NguyenThanhTung_KHACHHANGCreateServlet</display-name>
    <servlet-name>NguyenThanhTung_KHACHHANGCreateServlet</servlet-name>
    <servlet-class>ntt.servlet.NguyenThanhTung_KHACHHANGCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NguyenThanhTung_KHACHHANGCreateServlet</servlet-name>
    <url-pattern>/NguyenThanhTung_KHACHHANGCreateServlet</url-pattern>
  </servlet-mapping>
</web-app>