<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
  <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
  <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=JavaHibernate_Day8_Lap5</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.connection.password">thanhtung</property>
  <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
  <property name="hibernate.hbm2ddl.auto">none</property>
  <property name="hibernate.search.autoregister_listeners">true</property>
  <property name="hibernate.validator.apply_to_ddl">false</property>
  <mapping class="entity.Product"/>
 </session-factory>
</hibernate-configuration>
