USE [QLKH_NguyenThanhTung]
GO
/****** Object:  Table [dbo].[KHACHHANG_NguyenThanhTung]    Script Date: 3/23/2024 9:56:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG_NguyenThanhTung](
	[MAKH_2110900048] [char](5) NOT NULL,
	[HOTEN_2110900048] [varchar](100) NULL,
	[NGAYSINH_2110900048] [varchar](100) NULL,
	[GIOITINH_2110900048] [bit] NULL,
	[ANH_2110900048] [varchar](50) NULL,
	[TINHTRANG_2110900048] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH_2110900048] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[KHACHHANG_NguyenThanhTung] ([MAKH_2110900048], [HOTEN_2110900048], [NGAYSINH_2110900048], [GIOITINH_2110900048], [ANH_2110900048], [TINHTRANG_2110900048]) VALUES (N'KH001', N'Nguyen Thanh Tung', N'2003-11-06', 1, N'nguyenthanhtung.jpg', 1)
INSERT [dbo].[KHACHHANG_NguyenThanhTung] ([MAKH_2110900048], [HOTEN_2110900048], [NGAYSINH_2110900048], [GIOITINH_2110900048], [ANH_2110900048], [TINHTRANG_2110900048]) VALUES (N'KH002', N'Khách hàng 1', N'2003-06-11', 0, N'anh1.jpg', 1)
INSERT [dbo].[KHACHHANG_NguyenThanhTung] ([MAKH_2110900048], [HOTEN_2110900048], [NGAYSINH_2110900048], [GIOITINH_2110900048], [ANH_2110900048], [TINHTRANG_2110900048]) VALUES (N'KH003', N'Khách hàng 3', N'2003-06-11', 0, N'anh3.jpg', 0)
GO
